* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #000; */
}

html {
    height: 100vh;
    font-family: serif;
}

body {
    height: 100%;
    width: 100%;
}

#game {
    height: 80%;
    user-select: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top-field {
    display: flex;
}

#top-field div {
    padding: 50px;
}

#given-number,
#message {
    box-shadow: inset 0 0 0 3px transparent;
    transition: box-shadow .2s ease;
}

#message {
    padding: 10px;
}

.red-border-flash {
    box-shadow: inset 0 0 0 5px red !important;
}

input,
#greg > p {
    border: 1px solid #000;
    font-size: 25px;
    width: 100px;
    height: 70px;
    padding: 20px;
    margin-top: 50px;
}

p#message {
    align-self: flex-end;
    width: 200px;
}

#bottom-field {
    position: relative;
}

#start {
    margin-top: 50px;
    width: 100px;
    height: 100px;
    padding: 10px;
    font-size: 20px;
    border: 4px solid #000;
    border-radius: 50%;
    cursor: crosshair;
}

#start:active {
    background-color: #00000057;
}

#inputHistory {
    width: 150px;
    margin-top: 50px;
    padding: 30px 10px;
    border: 1px solid lightgray;
    color: slategray;
    list-style: none;
    position: absolute;
    /* top: 50px; */
    /* right: -30px; */
    left: -20px;
}

li {
    padding: 5px;
    text-align: center;
}