body {
    font-family: -apple-system, Ubuntu, Roboto, "Open Sans", sans-serif;
    margin: 10px;
    min-height: 100hv;
    display: flex;
    flex-direction: column;
}

.header {
    height: 72px;
    background: darkmagenta;
    color: white;
    padding: .5em;;
    font-size: 24px;
    font-weight: bold;
}

.content {
    display: flex;
}

.footer {
    height: 72px;
    background: #eee;
    color: darkmagenta;
}

.sidebar {
    width: 300px;
    background: royalblue;
    box-sizing: border-box;
    flex: 1 0 auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
}

.card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    max-width: 33%;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0; padding: 0;
}

div {
    border: 1px solid #000;
}