* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    font-family: sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

#one {
    padding: 50px;
    display: grid;
    grid-template: repeat(2, 1fr) /  200px;
    row-gap: 10px;
    /* justify-items: center; */
    align-items: center;
}

#confirmButton{
    grid-area: 2 / 2 / 3 / 3;
    padding: 10px;
}

label[for="#age"] {
    grid-column: span 2;
}

#age {
    /* max-width: 200px; */
    text-align: center;
    padding: 10px;
    border: 3px solid cornflowerblue;
    border-radius: 10px;
}   

#result {
    grid-area: 3/1/4/3;
}