.outer {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 90vw;
    padding: 10px;
    align-items: stretch;
    margin: auto;
    text-align: center;
    padding-top: 0;
    gap: 15px;
}        

p {
    color: yellow;
    position: absolute;
    margin: 0;
    top: 5px;
    left: 20px;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 15px;
}    

.outer > div {
    position: relative;
    display: flex;
    padding: 30px 10px 10px;
    align-items: stretch;
    gap: 10px;
}    

.outer div {
    flex: 1;
}        

.inner1{
    background-color: color-mix(in srgb, red 50%, yellow 50%);
}

.inner2{
    background: linear-gradient(90deg, black, white);
}

.inner3{
    background-color: darkmagenta;
}

.inner4{
    background-color: darkkhaki;
}

.inner5{
    background-color: darkslateblue;
}

.inner1-1{
    background-color: aquamarine;
}

.inner1-2{
    background-color: azure;
}

.inner1-3{
    background-color: aquamarine;
}

.inner1-4{
    background-color: violet;
}

.inner1-5{
    background-color: coral;
}

.inner2 > div{
    background-color: tomato;
}

.inner3 div:nth-child(2n){
    background-color: yellow;
}

.inner3 div:nth-child(3){
    background-color: deeppink;
}

.inner3 div:nth-child(5){
    background-color: rgb(69, 199, 123);
}

.inner4 div:nth-child(even),
.inner5 div:nth-child(even){
    background-color: darkgoldenrod;
}

.inner4 div:nth-child(odd),
.inner5 div:nth-child(odd){
    background-color: wheat;
}