* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    width: 100%;
}

.grid {
    margin: 40px;
    height: 100vh;
    display: grid;
    grid-template: [row1-start] minmax(100px, 150px) [row1-end row2-start] minmax(100px, 200px) [row2-end row3-start] minmax(100px, 10%) [row3-end row4-start] minmax(150px, 20%) [row4-end row5-start] minmax(50px, 15%) [row5-end]
                    / [col1-start] clamp(50px, 15%, 150px) [col1-end col2-start] clamp(70px, 20%, 200px) [col2-end col3-start] clamp(100px, 25%, 220px) [col3-end col4-start] minmax(150px, 200px) [col4-end] 70px 30px 70px 70px;
    grid-auto-rows: 150px;
    gap: 6px 10px;
    justify-content: space-around;
}

.item {
    border: 1px solid #000;
    display: grid;
    place-items: center;
}

.item-1 {
    grid-area: 1 / 1 / 3 / 3;
}