* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #000; */
}

html {
    height: 100vh;
    font-family: serif;
}

body {
    height: 100%;
    width: 100%;
    margin: 100px 0 0 200px;
    display: flex;
    flex-direction: column;
}

#book-saver {
    display: flex;
    align-items: center;
    /* height: 400px; */
}

form {
    padding: 15px 30px;
    height: 320px;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#books {
    margin-left: 50px;
    padding: 20px;
    height: 300px;
    min-width: 200px;
    border: 4px double  dimgray;
    border-radius: 10px;
    color: gray;
}

.in-the-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question * {
    user-select: none;
}

h3 {
    padding: 0 0 10px 20px;
}

.question {
    list-style: none;
}

.question:nth-last-child(n + 2) {
    display: flex;
    align-items: center;
}

.question label {
    width: 50px;
    font-variant: small-caps;
}

li { padding: 3px; }

.question:nth-last-child(n + 2) input {
    padding: 5px;
    margin-left: 10px;
}

#question-4 label {
    padding: 10px 10px;
    border: 3px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 80px;
}

#question-4 > p {
    padding: 10px;
}

#question-4 label:hover {
    border: 3px solid #0000002d;
    background-color: #f0f0f0;
}

#btn {
    border: 2px solid rgb(47, 118, 211);
    background-color: white;
    font-size: 18px;
    align-self: center;
    padding: 10px 15px;
    border-radius:15px;
    cursor: pointer;
}

#btn:hover {
    background-color: lightblue;
}

#btn:active{
    background-color: #0c36839d;
    border: 2px solid #000;
    color: #f0f0f0;
}